<!-- Top Navbar -->
<nav class="top-navbar text-white py-2">
    <div class="container">
        <div
            class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start gap-2">

            <!-- Contact info -->
            <div
                class="contact d-flex flex-wrap justify-content-center justify-content-md-start align-items-center gap-3 small-text">
                <div class="d-flex align-items-center gap-2">
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:+201067671981" class="text-white text-decoration-none">+20 106 767 1981</a>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:ahmedshaaban123321@gmail.com" class="text-white text-decoration-none">
                        ahmedshaaban123321&#64;gmail.com
                    </a>
                </div>
            </div>

            <!-- Social links -->
            <div class="social d-flex justify-content-center justify-content-md-end gap-2">
                <a href="https://www.linkedin.com/in/ahmed-shaaban-alsaidi/" target="_blank"
                    class="social-icon text-white">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/AhmedShaabanAl-Saidi" target="_blank" class="social-icon text-white">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61556497736958&locale=ar_AR" target="_blank"
                    class="social-icon text-white">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://wa.me/201067671981" target="_blank" class="social-icon text-white">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </div>
    </div>
</nav>

<!-- Main Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary text-capitalize py-3 shadow-sm text-dark fw-bold">
    <div class="container">
        <div class="navbar-logo d-flex align-items-center gap-2 cursor-pointer" routerLink="/home">
            <img src="./img/logo.png" alt="logo">
            <a class="navbar-brand fs-3">Bistro Bliss</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 gap-4">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="bg-body-secondary rounded-pill px-4">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="bg-body-secondary rounded-pill px-4">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/menu" routerLinkActive="bg-body-secondary rounded-pill px-4">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blog" routerLinkActive="bg-body-secondary rounded-pill px-4">blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="bg-body-secondary rounded-pill px-4">Contact</a>
                </li>
            </ul>

            <div class="book-table">
                <a class="btn btn-outline-dark border-2 rounded-pill" routerLink="/book" routerLinkActive="bg-black text-white">Book a Table</a>
            </div>
        </div>
    </div>
</nav>