.top-navbar {
    background-color: #474747;
    font-size: .9375rem;
}

.top-navbar .small-text {
    font-size: .875rem;
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-top: 1.25rem !important;
    }

    .book-table a,
    .login a,
    .register a {
        width: 100%;
    }
}

@media (max-width: 410px) {
    .top-navbar .small-text {
        font-size: .75rem;
    }
}

@media (max-width: 360px) {
    .top-navbar .small-text {
        font-size: .625rem;
    }
}

.navbar-brand {
    color: rgba(33, 37, 41, 0.75);
    font-family: "Playfair Display", serif !important;
    font-style: italic;
}

.navbar .nav-link {
    padding-block: .25rem !important;
    width: fit-content;
}