.top-navbar {
    background-color: #474747;
    font-size: .9375rem;
}

.top-navbar .social-icon {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: #5c5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: .875rem;
}

.top-navbar .social-icon:hover {
    background-color: #6c6c6c;
}

.top-navbar .small-text {
    font-size: .875rem;
}

@media (max-width: 410px) {
    .top-navbar .small-text {
        font-size: .75rem;
    }
}

@media (max-width: 360px) {
    .top-navbar .small-text {
        font-size: .625rem;
    }
}