<!-- Top Navbar -->
<nav class="top-navbar text-white py-2">
    <div class="container">
        <div
            class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start gap-2">

            <!-- Contact info -->
            <div
                class="contact d-flex flex-wrap justify-content-center justify-content-md-start align-items-center gap-3 small-text">
                <div class="d-flex align-items-center gap-1">
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:+201067671981" class="text-white text-decoration-none">+20 106 767 1981</a>
                </div>
                <div class="d-flex align-items-center gap-1">
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:ahmedshaaban123321@gmail.com" class="text-white text-decoration-none">
                        ahmedshaaban123321&#64;gmail.com
                    </a>
                </div>
            </div>

            <!-- Social links -->
            <div class="social d-flex justify-content-center justify-content-md-end gap-2">
                <a href="https://www.linkedin.com/in/ahmed-shaaban-alsaidi/" target="_blank"
                    class="social-icon text-white">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/AhmedShaabanAl-Saidi" target="_blank" class="social-icon text-white">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61556497736958&locale=ar_AR" target="_blank"
                    class="social-icon text-white">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://wa.me/201067671981" target="_blank" class="social-icon text-white">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </div>
    </div>
</nav>