<footer>
    <div class="footer py-5 text-white text-capitalize">
        <div class="container">
            <div class="row gy-4">
                <div class="col-12 col-md-6 col-lg-4">
                    <div
                        class="footer-brand d-flex justify-content-center justify-content-md-start align-items-center gap-2">
                        <img src="./img/logo.png" alt="logo" class="img-fluid" style="max-height: 40px;">
                        <a class="fs-3">Bistro Bliss</a>
                    </div>

                    <p class="my-4 footer-text text-center text-md-start">
                        In the new era of technology we look <br>
                        to the future with certainty and pride <br>
                        for our company.
                    </p>

                    <!-- Social links -->
                    <div class="social d-flex justify-content-center justify-content-md-start align-items-center gap-2">
                        <a href="https://www.linkedin.com/in/ahmed-shaaban-alsaidi/" target="_blank"
                            class="social-icon text-white">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/AhmedShaabanAl-Saidi" target="_blank"
                            class="social-icon text-white">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=61556497736958&locale=ar_AR" target="_blank"
                            class="social-icon text-white">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://wa.me/201067671981" target="_blank" class="social-icon text-white">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-2">
                    <h5 class="footer-title text-center text-md-start">Pages</h5>
                    <ul class="list-unstyled mt-3 d-flex flex-column align-items-center align-items-md-start gap-3">
                        <li><a class="text-white">Home</a></li>
                        <li><a class="text-white">About</a></li>
                        <li><a class="text-white">Menu</a></li>
                        <li><a class="text-white">Pricing</a></li>
                        <li><a class="text-white">Blog</a></li>
                        <li><a class="text-white">Contact</a></li>
                        <li><a class="text-white">Delivery</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3 col-lg-2">
                    <h5 class="footer-title text-center text-md-start">Utility Pages</h5>
                    <ul class="list-unstyled mt-3 d-flex flex-column align-items-center align-items-md-start gap-3">
                        <li><a class="text-white">Start Here</a></li>
                        <li><a class="text-white">Style guide</a></li>
                        <li><a class="text-white">Password Protected</a></li>
                        <li><a class="text-white">404 Not Found</a></li>
                        <li><a class="text-white">Licenses</a></li>
                        <li><a class="text-white">Change log</a></li>
                        <li><a class="text-white">View More</a></li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4">
                    <h5 class="footer-title text-center text-lg-start">Follow Us On Instagram</h5>
                    <div class="row g-3 mt-3 footer-imgs justify-content-center justify-content-lg-start">
                        <div class="col-6">
                            <img src="./img/footer1.png" alt="footer-img" class="img-fluid rounded-2 w-100">
                        </div>
                        <div class="col-6">
                            <img src="./img/footer2.png" alt="footer-img" class="img-fluid rounded-2 w-100">
                        </div>
                        <div class="col-6">
                            <img src="./img/footer3.png" alt="footer-img" class="img-fluid rounded-2 w-100">
                        </div>
                        <div class="col-6">
                            <img src="./img/footer4.png" alt="footer-img" class="img-fluid rounded-2 w-100">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>